<footer>
    <h3>Socials:</h3>
    <table class="center-table table">
      <tr>
        <th>Nick Jackson:</th>
        <th>Robert Wilk:</th>
      </tr>
      <tr>
        <td><a href="https://www.linkedin.com/in/njackson1011" target="_blank">Linkedin</a></td>
        <td><a href="https://www.linkedin.com/in/robertmwilk" target="_blank">Linkedin</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/njackson1011" target="_blank">Github</a></td>
        <td><a href="https://github.com/Robert-Wilk" target="_blank">Github</a></td>
      </tr>
    </table>
</footer>
</html>
